.input {
  background: #171821;
  border: 1px solid #ffffff;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  outline: none;
}

.input:focus {
  outline: 1px solid #57585E;
  outline-offset: 1px;
}

.input_label {
  font-size: 14px;
}