.main_nav {
  width: 300px;
  border-right: 3px solid #36393E;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 30px 0;

  a {
    text-decoration: none;
  }
}

@media screen and (max-width: 900px) {
  .main_nav {
    display: none;
  }
}